.khan__buy-link {
  margin-left: 48px;
  color: #2f80ed;
  font-size: 30px;
  line-height: 42px;
  text-decoration: none;
  font-weight: normal;
}

.khan__buy-link:hover {
  transition: 0.2s ease;
  opacity: 70%;
}